.DetailsForm {
  overflow: auto;
  flex: 1;
  height: 0;
  min-height: 0;
  & :global(.simplebar-content) > form {
    display: flex;
    flex-direction: column;
    margin: 0 25px 25px 25px;
    & > h2 > span {
      cursor: pointer;
    }
    & > input[type="submit"] {
      display: none;
    }
    & > *:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}