.AppSettingsForm {
  overflow: auto;
  flex: 1;
  height: 0;
  min-height: 0;
  & :global(.simplebar-content) > form {
    display: flex;
    flex-direction: column;
    & > h2 > span {
      cursor: pointer;
    }
    & > input[type="submit"] {
      display: none;
    }
    & > *:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.AppSetting {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 25px;
  & > label {
    @include themify(color, "txtColor");
    margin-bottom: 0;
    width: max-content;
    font-size: 16px;
    font-weight: 600;
  }
  & > *:not(:last-child) {
    margin-bottom: 5px;
  }
}

.SelectField {
  width: calc(100% - 20px);
  padding: 10px 10px;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  &:disabled {
    background-color: #fafafa;
  }
  &::placeholder {
    color: #c0c0c0;
  }
}

.PanelPageToolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 25px;
  padding-top: 25px;
}

.PanelPageTitle {
  @include themify(color, "txtColor");
  font-size: 18px;
  font-weight: 600;
}

.PanelPageToolbarAction {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 100%;
  outline: none;
  padding: 5px;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  @include themify(color, "primary");
  &:disabled {
    cursor: not-allowed;
    color: #CCCCCC!important;
  }
}
