.SidePanelShell {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 1;
  transition: all 0.2s ease;
  width: 365px;
  max-width: 365px;
  min-width: 365px;
  @include themify(background-color, "secondaryBg");
  transform: translateX(-365px);
  margin: 0 -365px 0 0;
  overflow: hidden;
  &.right.opened, &.opened {
    transform: initial;
    margin: 0;
    overflow: auto;
  }
  &.right {
    transform: translateX(365px);
    margin: 0 0 0 -365px;
  }
  & > *:not(:last-child) {
    margin-bottom: 25px;
  }
  @media only screen and (max-width: 768px) {
    position: fixed;
    width: 100vw;
    min-width: 0;
    max-width: 100vw;
    padding-bottom: 90px;
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    transform: translateX(-100%);
    &.right.opened, &.opened {
      transform: translateX(0%);
    }
    &.right {
      transform: translateX(100%);
      margin: 0;
    }
  }
  z-index: 9999;
}
