.NotificationsForm {
  overflow: auto;
  flex: 1;
  height: 0;
  min-height: 0;
  & :global(.simplebar-content-wrapper) {
    min-height: 100%;
  }
  & :global(.simplebar-content) {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > * {
      margin-bottom: 15px;
    }
  }
}

.PanelPageToolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 25px;
  padding-top: 25px;
}

.PanelPageTitle {
  @include themify(color, "txtColor");
  font-size: 18px;
  font-weight: 600;
}

.PanelPageToolbarAction {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 100%;
  outline: none;
  padding: 5px;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  @include themify(color, "primary");
  &:disabled {
    cursor: not-allowed;
    color: #CCCCCC!important;
  }
}

.NoNotifications {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: -25px;
  width: 0;
  & > svg {
    width: 250px;
    height: 163px;
    margin-top: 25px;
    @include themify(color, "primary");
  }
  & > span {
    font-weight: bold;
    font-size: 18px;
    @include themify(color, "txtColor");
    margin-top: 25px;
    width: max-content;
  }
  & > *:not(:last-child) {
    margin-bottom: 40px;
  }
}