.Section {
  padding: 15px;
  border-radius: 15px;
  margin-top: 10px;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 6%);
  @include themify(background-color, "fieldBg");
}

.SectionHeader {
  padding: 0 12px;
  font-weight: 600;
  font-size: 24px;
  color: #596766;
  @media only screen and (max-width: 768px) {
    padding: 5px 20px 5px 20px;
    font-size: 16.5px;
  }
}
