.ToolbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 12px;
  & > span {
    font-size: 12px;
    text-align: center;
    @include themify(color, "txtColor");
  }
  @media only screen and (max-width: 768px) {
    margin: 20px 20px 10px 20px;
  }
}

.ToolbarAction {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 5px;
  line-height: 0;
  width: 80px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
  @include themify(color, "onPrimaryColor");
  @include themify(background-color, "primary");
  & > *:not(:last-child) {
    margin-right: 3px;
  }
}
