.ProjectTitleShell {
  display: flex;
  flex-direction: column;
  & > *:not(:last-child) {
    margin-bottom: 10px;
  }
}

.ProjectTitleHeader {
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-size: 32px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: text;
  @include themify(color, "txtColor");
  &.placeholder {
    color: #C0C0C0!important;
  }
  @media only screen and (max-width: 768px) {
    padding: 0;
    font-size: 22px;
  }
}

.ProjectTitleInput {
  width: 100%;
  margin: 0;
  padding: 0;
  & > input {
    background-color: transparent;
    @include themify(color, "txtColor");
    font-size: 32px;
    width: 100%;
    font-weight: 600;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    &::placeholder {
      color: #c0c0c0;
    }
  }
  @media only screen and (max-width: 768px) {
    padding: 0;
    width: calc(100% - 40px);
    & > input {
      font-size: 22px;
    }
  }
}
