.TaskItemActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 0;
  width: 0;
  background-color: transparent;
  &:hover {
    transition: opacity 0.2s;
  }
  & > *:not(:last-child) {
    margin-right: 5px;
  }
}

.TaskItemAction {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 100%;
  cursor: pointer;
  width: 28px;
  height: 28px;
  border-radius: 6px;
  & > svg {
    @include themify(color, "primary");
  }
  &:hover {
    @include themify(background-color, "primary");
    & > svg {
      @include themify(color, "onPrimaryColor", true);
    }
  }
}

.TaskItemShell {
  display: flex;
  flex-direction: column;
  & > *:not(:last-child) {
    margin-bottom: 10px;
  }
  &.sorting {
    z-index: -1;
  }
  &.dragging {
    z-index: 99;
  }
}

.TaskItemCore {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 8px 12px;
  margin: 4px 0;
  overflow: hidden;
  transition: transform 0.2s, background-color 0.2s, border-color 0.2s;
  & > *:not(:last-child) {
    margin-right: 10px;
  }
  &.focused {
    @include themify(border-color, "primary");
    & .TaskItemActions {
      opacity: 1;
      width: auto;
    }
  }
  &.dragging {
    transform: scale(1.03);
    background-color: #eaefef;
  }
  &.sorting {
    opacity: 0.5;
  }
  &:not(.focused):not(.dragging):not(.sorting):hover {
    @include themify(background-color, "fieldBg");
    box-shadow: 0px 2px 4px rgb(0 0 0 / 6%);
    & .TaskItemActions {
      opacity: 1;
      width: auto;
    }
  }
  @media only screen and (max-width: 768px) {
    margin: 0;
    padding: 6px 20px;
    border: none;
    border-radius: 0;
    background-color: transparent;
    & > *:not(:last-child) {
      margin-right: 2px;
    }
    &.focused {
      background-color: rgba(255, 255, 255, 0.5);
      box-shadow: 0px 2px 4px rgb(0 0 0 / 6%);
    }
  }
}

.TaskItemLeftPart {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  & > *:not(:last-child) {
    margin-right: 10px;
  }
  @media only screen and (max-width: 768px) {
    & > *:not(:last-child) {
      margin-right: 2px;
    }
  }
}

.TaskItemRightPart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 170px;
  transition: width 0.3s ease-in-out;
  & > *:not(:last-child) {
    margin-right: 5px;
  }
  &.focused {
    width: 0;
  }
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    width: 68px;
    & > *:not(:last-child) {
      margin-right: 0;
      margin-bottom: 2px;
    }
  }
}

.TaskItemHeader {
  font-size: 16px;
  width: 0px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: text;
  flex: 1;
  text-decoration: none;
  @include themify(color, "txtColor");
  &.done {
    text-decoration: line-through;
  }
  &.placeholder {
    color: #C0C0C0!important;
  }
}

.TaskItemInput {
  width: 100%;
  & > input {
    @include themify(color, "txtColor");
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 100%;
    padding: 0;
    margin: 0;
    font-weight: 400;
    &::placeholder {
      color: #C0C0C0!important;
    }
  }
}

.TaskItemDueDate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  font-weight: 600;
  font-size: 11.2px;
  @include themify(color, "onPrimaryColor");
  @include themify(background-color, "primary");
  white-space: nowrap;
  border-radius: 10px;
  padding: 3px 10px;
  @media only screen and (max-width: 768px) {
    width: 48px;
    font-size: 8px;
  }
}

.TaskItemOptsBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 100%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  & > svg {
    @include themify(fill, "txtColor");
  }
}

.TaskItemLeftLeftPart {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  & > *:not(:last-child) {
    margin-right: 10px;
  }
  @media only screen and (max-width: 768px) {
    justify-content: flex-start;
  }
}

.TaskItemLeftRightPart {
  display: flex;
  flex-direction: row;
  align-items: center;
  & > *:not(:last-child) {
    margin-right: 10px;
  }
  @media only screen and (max-width: 768px) {
    justify-content: flex-start;
  }
}

.TaskItemStatusToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 1px solid;
  background-color: transparent;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  padding: 2.5px;
  cursor: pointer;
  @include themify(border-color, "txtColor");
  @include themify(color, "onPrimaryColor");
  &.done {
    @include themify(border-color, "primary");
    @include themify(background-color, "primary");
  }
}
