.ToolbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 12px 12px 12px;
  padding: 10px 0;
  border-radius: 15px;
  & > span {
    font-size: 12px;
  }
  & > *:not(:last-child) {
    margin-right: 10px;
  }
  @media only screen and (max-width: 768px) {
    margin: 0 20px 9px 20px;
  }
}

.SortingSettings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  & > span {
    @include themify(color, "txtColor");
  }
  & > div {
    width: 90px;
  }
  & > *:not(:last-child) {
    margin-right: 8px;
  }
}

.PasteBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 5px;
  line-height: 0;
  padding: 8px 15px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
  @include themify(color, "onPrimaryColor");
  @include themify(background-color, "primary");
  & > *:not(:last-child) {
    margin-right: 3px;
  }
  @media only screen and (max-width: 768px) {
    & > span {
      display: none;
    }
    & > *:not(:last-child) {
      margin-right: 0;
    }
  }
}
