.MainPage {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  z-index: 0;
  position: fixed;
  right: 0;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding-bottom: 0;
  padding-left: 70px;
  overflow: hidden;
  @media only screen and (max-width: 768px) {
    top: 0;
    width: 100vw;
    height: 100%;
    padding-bottom: 80px;
    padding-left: 0;
  }
}
