.LoadingContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: fixed;
  @include themify(background-color, "primaryBg");
  align-items: center;
  justify-content: center;
  & > span:nth-child(1) {
    font-weight: bold;
    font-size: 42px;
    @include themify(color, "primary");
  }
  & > span:nth-child(3) {
    font-weight: bold;
    font-size: 18px;
    @include themify(color, "txtColor");
  }
  & > div {
    width: 250px;
  }
  & > *:not(:last-child) {
    margin-bottom: 30px;
  }
  @media only screen and (max-width: 768px) {
    & > span:nth-child(1) {
      font-size: 36px;
    }
    & > span:nth-child(3) {
      font-size: 16px;
    }
    & > div {
      width: 200px;
    }
  }
}
