@keyframes enteringAnim {
  from {
    margin-right: -330px;
  }

  to {
    margin-right: 10px;
  }
}

@keyframes exitingAnim {
  from {
    margin-right: 10px;
  }

  to {
    margin-right: -330px;
  }
}

@keyframes enteringAnimMobile {
  from {
    margin-top: -48px;
  }

  to {
    margin-top: 10px;
  }
}

@keyframes exitingAnimMobile {
  from {
    margin-top: 10px;
  }

  to {
    margin-top: -48px;
  }
}

.NotificationsContainer {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  background-color: transparent;
  flex-direction: column;
  z-index: 9999999;
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.NotificationShell {
  display: flex;
  @include themify(color, "primary");
  padding: 15px;
  width: 300px;
  margin: 10px 10px 10px 0;
  border-radius: 8px;
  position: relative;
  @include themify(background-color, "secondaryBg");
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  animation: 0.4s ease-in-out forwards;
  &.entering {
    animation-name: enteringAnim;
  }
  &.exiting {
    animation-name: exitingAnim;
  }
  &.clickable {
    cursor: pointer;
    &:hover {
      background-color: #f2f2f2;
    }
  }
  @media only screen and (max-width: 768px) {
    width: calc(100% - 50px);
    margin: auto;
    &.entering {
      animation-name: enteringAnimMobile;
    }
    &.exiting {
      animation-name: exitingAnimMobile;
    }
  }
}

.NotificationContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  & > *:not(:last-child) {
    margin-right: 10px;
  }
}

.NotificationContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  div {
    display: flex;
    flex-direction: column;
    span:nth-child(1) {
      font-size: 12px;
    }
    span:nth-child(2) {
      font-size: 14px;
    }
  }
  & > *:not(:last-child) {
    margin-right: 10px;
  }
}

.NotificationCloseBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: none;
  background-color: transparent;
  & > *:not(:last-child) {
    margin-right: 10px;
  }
}
