

.NotificationsContainer {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  background-color: transparent;
  flex-direction: column;
  z-index: 9999999;
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}