.AssigneeFieldShell {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  & > label {
    @include themify(color, "txtColor");
    margin-bottom: 0;
    width: max-content;
    font-size: 14px;
    font-weight: 600;
  }
  & > *:not(:last-child) {
    margin-bottom: 5px;
  }
}

.NewAssigneeBtn {
  position: relative;
  display: flex;
  padding: 10px 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border: none;
  outline: none;
  height: 91.8px;
  min-width: 80px;
  font-weight: 500;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 8px;
  @include themify(background-color, "fieldBg");
  box-shadow: 0px 2px 4px rgb(0 0 0 / 6%);
  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    border-radius: 100%;
    @include themify(color, "onPrimaryColor");
    @include themify(background-color, "primary");
    min-width: 32px;
    min-height: 32px;
    width: 32px;
    height: 32px;
  }
  & > span {
    @include themify(color, "primary");
    font-weight: 600;
    font-size: 14px;
  }
  & > *:not(:last-child) {
    margin-bottom: 5px;
  }
}

.NoAssignees {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 6%);
  @include themify(background-color, "fieldBg");
  outline: none;
  height: fit-content;
  & > span {
    font-weight: 600;
    font-size: 14px;
    @include themify(color, "txtColor");
  }
  & > button {
    position: relative;
    outline: none;
    border: none;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    border-radius: 100000000000000px;
    @include themify(color, "onPrimaryColor");
    @include themify(background-color, "primary");
  }
  & > *:not(:last-child) {
    margin-bottom: 5px;
  }
}

.AssigneeItem {
  position: relative;
  display: flex;
  padding: 10px;
  min-width: 80px;
  max-width: 80px;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  @include themify(background-color, "fieldBg");
  @include themify(color, "txtColor");
  box-shadow: 0px 2px 4px rgb(0 0 0 / 6%);
  &:last-child {
    margin-right: 5px;
  }
  & > *:not(:last-child) {
    margin-bottom: 5px;
  }
}

.AssigneeDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & > span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 80px;
    line-height: 1.2;
  }
  & > span:nth-child(1) {
    font-size: 14px;
    font-weight: 600;
  }
  & > span:nth-child(2) {
    font-size: 10px;
    font-weight: 400;
  }
}

.RemoveBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  outline: none;
  border: none;
  line-height: 0;
  padding: 0;
  border-radius: 100%;
  cursor: pointer;
  @include themify(color, "onPrimaryColor");
  @include themify(background-color, "primary");
}
