.HeadingTextFieldShell {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    & > *:not(:last-child) {
      margin-bottom: 5px;
    }
    & > label {
      @include themify(color, "txtColor");
      margin-bottom: 0;
      width: max-content;
      font-size: 14px;
      font-weight: 600;
    }
    & > span {
      color: #FF0000;
      font-size: 12px;
    }
  }
  
  .HeadingTextFieldContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: calc(100% - 20px);
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 6%);
    @include themify(background-color, "fieldBg");
    & > span {
      color: #C0C0C0;
    }
    &.error {
      border-color: #FF0000;
    }
    &.focused {
      @include themify(border-color, "primary");
    }
    &.disabled {
      background-color: #FFFFFF2E;
    }
    & > input {
      border: none;
      outline: none;
      padding: 0;
      width: 100%;
      @include themify(color, "txtColor");
      @include themify(background-color, "fieldBg");
      &:disabled {
        background-color: transparent;
      }
      &::placeholder {
        color: #C0C0C0;
      }
    }
    & *:not(input) {
      color: #C0C0C0!important;
    }
  }