.TagFieldShell {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  & > span {
    color: #FF0000;
    font-size: 12px;
    margin-left: 10px;
  }
}

.TagFieldContainer {
  position: relative;
  width: calc(100% - 24px);
  font-size: 14px;
  font-weight: 400;
  padding: 7.5px 10px;
  border-radius: 8px;
  border: 2px solid transparent;
  background-color: transparent;
  @include themify(border-color, "outline");
  & > label {
    position: absolute;
    top: 7.5px;
    left: 10px;
    margin-bottom: 0;
    width: max-content;
    font-size: 14px;
    font-weight: 600;
    padding: 0 3px;
    margin: 2.5px 0 2.5px -3px;
    transform-origin: bottom left;
    transition: transform 150ms cubic-bezier(0.4,0,0.2,1);
    @include themify(color, "outline");
    @include themify(background-color, "secondaryBg");
  }
  & > span {
    color: #C0C0C0;
  }
  &.focused, &.filled {
    & > label {
      transform: scale(0.9) translate3d(0, -25px, 0);
    }
  }
  &.focused {
    @include themify(border-color, "primary");
    & > label {
      @include themify(color, "primary");
    }
  }
  &.error {
    border-color: #FF0000!important;
    & > label {
      color: #FF0000!important;
    }
  }
  &.disabled {
    background-color: #FFFFFF2E!important;
  }
}


.TagFieldValues {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  & > *:not(:last-child) {
    margin-right: 5px;
  }
}

.TagItem {
  position: relative;
  display: inline-flex;
  padding: 3px 10px;
  margin: 2.5px 0;
  font-weight: 600;
  font-size: 14px;
  width: fit-content;
  height: fit-content;
  border-radius: 100000000000000px;
  border: none;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 6%);
  @include themify(color, "outline");
  @include themify(background-color, "fieldBg");
  & > span {
    cursor: pointer;
    &:nth-child(1) {
      &:hover {
        text-decoration: underline;
      }
    }
    &:nth-child(2) {
      border-radius: 100%;
      height: 12px;
      width: 12px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
  & > *:not(:last-child) {
    margin-right: 5px;
  }
}

.TagInput {
  position: relative;
  display: inline-flex;
  font-weight: 400;
  margin: 2.5px 0;
  min-height: 20.8px;
  font-size: 14px;
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  border: none;
  flex-direction: row;
  align-items: center;
  cursor: text;
  flex: 1;
  z-index: 1;
  @include themify(color, "txtColor");
}