.ForgotPasswordFormContainer {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  justify-content: center;
  @include themify(background-color, "secondaryBg");
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 25px;
  height: fit-content;
  width: 350px;
  padding: 35px;
  & > *:not(:last-child) {
    margin-bottom: 15px;
  }
  @media only screen and (max-width: 768px) {
    position: absolute;
    width: calc(100% - 70px);
    height: calc(100% - 70px);
    border-radius: 0;
    margin: 0;
  }
}

.ForgotPasswordFormHeader {
  display: flex;
  flex-direction: column;
  text-align: center;
  @include themify(color, "txtColor");
  & > span:nth-child(1) {
    font-weight: bold;
    font-size: 24px;
    @include themify(color, "primary");
  }
  & > span:nth-child(2) {
    font-weight: 600;
    font-size: 24px;
  }
  & > span:nth-child(3) {
    font-weight: 400;
    font-size: 16px;
  }
}

.ForgotPasswordForm {
  display: flex;
  flex-direction: column;
  & > h2 > span {
    cursor: pointer;
  }
  & > *:not(:last-child) {
    margin-bottom: 15px;
  }
}