.task {
  border: none;
  width: 100%;
  padding: 1px 0;
}

.newTask {
  margin: 10px 0 0;
}

input {
  outline: none;
}

.mainPage {
  position: fixed;
  right: 0;
  width: calc(100vw - 70px);
  display: flex;
  flex-direction: row;
  background-color: #F8F8F8;
  overflow: hidden;
}

input:read-only {
  color: transparent;
  text-shadow: 0 0 0 #222222;
}

@media only screen and (max-width: 768px) {
  .mainPage {
    background-color: #F4F7FF;
  }
}