.task {
  border: none;
  width: 100%;
  padding: 1px 0;
}

.newTask {
  margin: 10px 0 0;
}

input {
  outline: none;
}

.mainPage {
  display: flex;
  flex-direction: row;
}

input:read-only {
  color: transparent;
  text-shadow: 0 0 0 #222222;
}