.AvatarGroupContainer {
  display: flex;
  align-items: center;
}

.ImageAvatar {
  display: inline;
  border-radius: 100%;
  border: 2px solid;
  @include themify(border-color, "primaryBg");
}

.LetterAvatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  line-height: 0;
  border: 2px solid;
  @include themify(color, "primary");
  @include themify(background-color, "primaryLight");
  @include themify(border-color, "primaryBg");
}

.DumpAvatar {
  display: inline-flex;
  border-radius: 100%;
  border: 2px solid;
  @include themify(background-color, "primaryLight");
  @include themify(border-color, "primaryBg");
}
