.Button {
  padding: 15px 0;
  @include themify(background-color, "primary");
  @include themify(color, "secondaryBg");
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    @include themify(background-color, "primaryDark");
  }
  &:disabled {
    @include themify(background-color, "primaryLight");
    cursor: default;
  }
}
