.OuterRing {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-linecap: round;
}

.InnerRing {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  opacity: 0.8;
  filter: drop-shadow(0px 2px 8px rgba(99, 99, 99, 0.2));
  -webkit-filter: drop-shadow(0px 2px 8px rgba(99, 99, 99, 0.2));
  border: none;
}
